body {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: font-family 'segoe ui', tahoma, Geneva, verdana, sans-serif;
    font-weight: bolder;
}

.container {
    padding: 1rem;
    width: 600px;
    height: 400px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: burlywood;
}

h1 {
    color: #4CAF50;
    padding-top: 20px;
    font-size: 40px;

}

.buttons {
    display: flex;
    padding: 5.4rem 1rem;
    margin: 0 0.2rem;
    border-radius: 10px;
    justify-content: space-between;
}


.buttons > button {
    font-size: 22px;
    width: 110px;
    height: 55px;
    transition: 0.2s;
    border-radius: 40px;
    border: 1px solid #f8f8f8;
   
}

#time {
    padding: 1rem;
    font-size: 3rem;
    color: white;
}

.minutes,
.seconds,
.milliseconds {
    display: inline-block;
    width: 55px;
}